<div style="float:left; width:150px">
  <p>
    <b>
      Turtle Wave
    </b>
  </p>  
  <div>
    <img style="width:75px; margin-bottom:-25px; margin-top:-25px" src="assets/old-turtle.svg">
  </div>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>
<div style="float:left; width:300px;">
  <h1>
    Turtle Wave
  </h1>
  <div>
    <h2>
      <img style="width:75px; margin-bottom:-25px" src="assets/old-turtle.svg">
      Sea Tide Tales!
    </h2>
    <hr>
    <p>
      Hello and welcome to the turtle haven.
    </p>
  </div>
  <div>
    <h2>
      <img style="width:75px; margin-bottom:-25px" src="assets/old-turtle.svg">
      Oceanic Hub!
    </h2>
    <hr>
    <p>
      Mingle with the marine sea life.
    </p>
  </div>
  <div>
    <img src="assets/sea-turtle.svg">
  </div>
</div>